{% include 'header.html' %}
{% load static %}

<div class="main-content" id="panel" style="margin-top:10px;">
    {% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
        <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="row">
        <div class="row container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-primary">
                        <h3>Sells Details</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Product Name</label>
                                        <input type="text" name="product_name" class="form-control" value="{{obj.product_name}}" >
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Buy Price</label>
                                        <input type="text" name="buy_price" class="form-control" value="{{obj.buy_price}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label">Quantity</label>
                                        <input type="number" name="quantity" class="form-control" value="{{obj.quantity}}">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label">Sell Price</label>
                                    <input type="number" name="sell_price" class="form-control" value="{{obj.sell_price}}">
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label">Note</label>
                                    <input type="text" name="note" class="form-control" value="{{obj.note}}">
                                </div>
                            </div>
                        </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}

