{% include 'header.html' %}
{% load static %}

<div class="main-content" id="panel" style="margin-top:10px;">
 {% if messages %}
    <div class="messages" style="margin-right:32px;">
        {% for message in messages %}
            <div class="alert alert-primary" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}

    <div class="row">
        <div class="row container-fluid">
            <div class="col-md-12" >

            </div>
        </div>
    </div>

</div>

{% include 'footer.html' %}